/* Pagina para modificar / agregar / eliminar productos */

#add-form {
  padding-top: 30px;
}

#button-row {
  padding-top: 10px;
}

#add-product {
  background-color: RGB(0,77,152);
}

body {
  color: rgb(255,255,255);
}

.btn.btn-sm {
  color: white;
  text-transform: uppercase;
}

#mod-product {
  background-color: RGB(168,19,62);
}

#collapse-1 {
  padding-bottom: 30px;
}

.btn.btn-sm {
  margin: 26px;
}

#update-form {
  padding-bottom: 30px;
}

.mb-1, .my-1 {
   margin-bottom: 0 !important;
}